*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    height: 450px;
}
.container{
    background-color: aliceblue;
    /* background-image: url('https://wallpaperset.com/w/full/f/0/e/545605.jpg'); */
}
.card-body{
    background-color: aliceblue;
    height: 180px;
}
button{
    margin-top: 1vh;
}
/* .search{
    background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png');
} */